@charset "utf-8";

br {
    display: block;
    margin: 30px 30px;
}

.box {
    overflow: hidden;
}
.box .ui-block-b {
    text-align: right;
}

.hidden {
    display: none !important;
}

.popup {
    padding: 10px;
}
.popup [data-role="controlgroup"] {
    text-align: center;
}

.data:empty + .empty {
    display: block !important;
}

.date {
    color: #AAAAAA;
    font-size: .8em;
}

.forward {
    text-align: center;
}

.me {
    background-color: #dde;
}

.nowrap {
    overflow: visible;
    white-space: normal;
}

#my_loc{
	background:url(../images/myl_disabled.png) no-repeat;
	right: 5px;
	top : 5px;
	position: absolute;
	width: 64px;
	height: 64px;
	background-size: 64px 64px;
	z-index:9999
}

#my_loc.enabled{
	background:url(../images/myl_normal.png) no-repeat;
	background-size: 64px 64px;
}

.ui-page-theme-a .ui-body-inherit.selected {
	color : #0000ff;
}

#control {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background : #404040;
	margin : 0 auto;
	text-align: center;
}

#control i {
	color : white;
	line-height: 100px;
	line-height: 100px;
}

.subcontrol{
	margin: 0px;
	list-style-type : none;
	padding: 0px;
}
.subcontrol li {
	float:left;
	width: 105px;
	border: 1px solid white;
	text-align : center;
	background : #cecece;
}

.subcontrol li:last-child {
	width: 104px;
}

.subcontrol li i {
	line-height: 60px ;
}

.lh50 {
	line-height: 50px;
}

#map_canvas{
    position:absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}


#pickup-route-header div h3{
    line-height: 45px;
    margin:0 auto;
    font-size:15px;
}

#timer{
    font-size:10px;
    line-height:10px;
    margin-top:15px;
    margin-right:5px;
    visibility:hidden;
}

#tracking-state{
    font-size:11px;
    line-height:12px;
    margin-top:-9px;
    color:green;
    visibility:hidden;
}

#menu-btn{
    background:url(../images/profile.png) no-repeat;
	width: 45px;
	height: 45px;
    left:15px;
	background-size: 35px 35px;
    position:absolute;
}

#locate-btn{
    background:url(../images/locate.png) no-repeat;
	width: 21px;
	height: 21px;
    left:15px;
    position:absolute;
	background-size:21px 21px;
    margin-top:15px;
}

#next-div{
    right:0px;
    position:absolute;
}

#next-btn{
    background:url(../images/next.png) no-repeat;
	width: 18px;
	height: 18px;
	background-size: 18px 18px;
    margin-top:7px;
}

#next-label{
    line-height:12px;
    color:#4095FB;
    font-size:12px;
    margin-top:2px;
    margin-right:5px;
    visibility:hidden;
}

#step-name-label{
    line-height:20px;
    margin:0 auto;
    font-size:12px;
    color:rgb(97,102,102);
    margin-top:-3px;
}

#step-number-label{
    line-height:20px;
    margin:0 auto;
    color:#4095FB;
    font-size:10px;
    padding-top:5px;
}

#circle-line{
    height:4px;
    background:rgb(204,204,204);
    margin-top:16px;
}

#circle-right,#circle-central,#circle-left {
    width: 16px;
    height: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background:rgb(204,204,204);
    position:absolute;
    top:40px;
}

#circle-central{
    right:40px;
}

#circle-left{
    left:50%;
    margin-left:-8px;
}

#green-circle-left, #green-circle-right, #green-circle-central{
    width: 32px;
    height: 32px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background:rgba(69,191,69,0.8);
    position:absolute;
    top:32px;
    visibility: hidden;
}

#green-circle-central{
    left:50%;
    margin-left: -16px;
}

#green-circle-left{
    margin-left:-8px
}

#green-circle-right{
    right:32px
}

#pause-btn,#play-btn{
    width: 32px;
    height: 32px;
    top:35.2px;
    position:absolute;
    left:50%;
    margin-left: -13px;
    background-size: 32px 32px;
    visibility:hidden;
}

#pause-btn{
    background:url(../images/pause-btn.png) no-repeat;
}

#play-btn{
    background:url(../images/play-btn.png) no-repeat;
}

.red-circle{
    width: 32px;
    height: 32px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background:rgba(248,35,35,0.8);
}



.infobox-wrapper {
    display:none;
}
#infobox, #confirm-infobox{
    background:white;
    color:rgba(136,136,136,1);
    font-size:12px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#infobox-title, #confirm-infobox-title{
    margin-left:10px;
    display:inline-block;
    line-height:12px;
}
#confirm-infobox-title{
    width:150px
}

.infobox-arrow-btn, .confirm-infobox-arrow-btn{
    margin-left:15px;
    display:inline-block;
    width:15px;
    height:25px;
    background-size:15px 25px;
    background:url(../images/arrow_right.png) no-repeat;
}

.infobox-lower-arrow{
    background:url(../images/infobox_arrow.png) no-repeat;
    position:absolute;
    width:20px;
    height:12px;
    left: 50%;
    margin-left: -10px;
}

#delivery-header{
    height:40px;
    background:rgb(249,249,249)
}

#delivery-header p{
    line-height:10px;
    text-align:center;
    font-size:14px
}

#delivery-details-back{
    position:absolute;
    left:5px;
    top:8px;
    height:30px;
    width:20px;
    background:url(../images/back_large.png) no-repeat;
}

#delivery-details-content{
    background:rgb(236,236,236);
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 70px;
    right: 0;
}

#signature-content{
    background:rgb(236,236,236);
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#delivery-details-content p{
    font-size:14px;
}

.delivery-listitem-title{
    line-height:35px;
    margin:0 auto;
    display:inline-block;
    margin-left:10px;
}

.delivery-icon-yes-circle, .delivery-icon-empty-circle, .delivery-icon-arrow,.delivery-icon-arrow-enable{
    float:right;
    height:30px;
    width:30px;
    margin-top:6px;
    display:inline-block;
}

.delivery-icon-yes-circle{
    background:url(../images/yes_circle.png) no-repeat;
    margin-right:3px;
}

.delivery-icon-empty-circle{
    background:url(../images/empty_circle.png) no-repeat;
    margin-right:1px;
    background-size:23px 23px;
}

.delivery-icon-arrow,.delivery-icon-arrow-enable{
    margin-right:-5px;
    margin-top:4px;
}

.delivery-icon-arrow{
    background:url(../images/arrow_right_gray.png) no-repeat;
}


.delivery-icon-arrow-enable{
       background:url(../images/arrow_right.png) no-repeat;
}

.delivery-list-separator{
    height:1px;
    background:rgb(199,199,199);
    margin-left:10px;
}

.delivery-buttons-div{
    bottom:15px;
    position:absolute;
    margin:0 auto;
    width:100%;
    margin-left:-17px;
}

#cancel-pickup-btn, #begin-tracking-btn{
    display:inline-block;
    width:43%;
    background:white;
    height:40px;
    text-align:center;
    vertical-align:middle;
    line-height:40px;
    font-size:14px;
}

#begin-tracking-btn{
    float:right;
    color:rgb(0,122,255);
    margin-right:5%;
}

#cancel-pickup-btn{
    color:red;
    margin-left:5%;
}



#textarea-div{
    background:rgb(229,229,229);
    margin-top:70px;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
}

#signature-back{
    line-height: 12px;
    left:15px;
    margin-top:2px;
    font-size:12px;
    position:absolute;
    color:blue
}

#signature-title{
    line-height: 15px;
    font-size: 15px;
    text-align:center;
}

#signature-textarea{
    max-height:80px;
    border:none;
    border-radius:0;
}

#email-div{
    float:right;
    padding-right:15%;
    margin-top:90px
}
#email-icon{
    width:25px;
    height:17px;
    background:url(../images/email.png) no-repeat;
    background-size:25px 17px
}

#email-title{
    font-size:12px;
    line-height:14px;
    margin-top:7px
}
