@charset "utf-8";

.box {
    overflow: hidden;
}
.box .ui-block-b {
    text-align: right;
}

.hidden {
    display: none !important;
}

.popup {
    padding: 10px;
}
.popup [data-role="controlgroup"] {
    text-align: center;
}

.data:empty + .empty {
    display: block !important;
}

.date {
    color: #AAAAAA;
    font-size: .8em;
}

.forward {
    text-align: center;
}

.me {
    background-color: #dde;
}

.nowrap {
    overflow: visible;
    white-space: normal;
}

#my_loc{
	background:url(../images/myl_disabled.png) no-repeat;
	right: 5px;
	top : 5px;
	position: absolute;
	width: 64px;
	height: 64px;
	background-size: 64px 64px;
	z-index:9999
}

#my_loc.enabled{
	background:url(../images/myl_normal.png) no-repeat;
	background-size: 64px 64px;
}

.ui-page-theme-a .ui-body-inherit.selected {
	color : #0000ff;
}

#control {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background : #404040;
	margin : 0 auto;
	text-align: center;
}

#control i {
	color : white;
	line-height: 100px;
	line-height: 100px;
}

.subcontrol{
	margin: 0px;
	list-style-type : none;
	padding: 0px;
}
.subcontrol li {
	float:left;
	width: 105px;
	border: 1px solid white;
	text-align : center;
	background : #cecece;
}

.subcontrol li:last-child {
	width: 104px;
}

.subcontrol li i {
	line-height: 60px ;
}

.lh50 {
	line-height: 50px;
}

#map_canvas{
    position:absolute;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}


#pickup-route-header div h3{
    line-height: 45px;
    margin:0 auto;
}

#menu-btn{
    background:url(../images/profile.png) no-repeat;
	width: 45px;
	height: 45px;
    left:15px;
	background-size: 35px 35px;
    position:absolute;
}

#locate-btn{
    background:url(../images/locate.png) no-repeat;
	width: 21px;
	height: 21px;
    left:15px;
    position:absolute;
	background-size:21px 21px;
    margin-top:15px;
}

#next-div{
    right:0px;
    position:absolute;
}

#next-btn{
    background:url(../images/next.png) no-repeat;
	width: 18px;
	height: 18px;
	background-size: 18px 18px;
    margin-top:7px;
}

#next-label{
    line-height:12px;
    color:#4095FB;
    font-size:12px;
    margin-top:2px;
    margin-right:5px;
}

#step-name-label{
    line-height:20px;
    margin:0 auto;
    font-size:12px;
    color:rgb(97,102,102);
    margin-top:-3px;
}

#step-number-label{
    line-height:20px;
    margin:0 auto;
    color:#4095FB;
    font-size:10px;
    padding-top:5px;
}

.circle-line{
   height:4px;
   background:rgb(204,204,204);
   margin-top:16px;
}

.circle-right,.circle-central,.circle-left {
    width: 16px;
    height: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background:rgb(204,204,204);
    position:absolute;
    top:40px;
}

.circle-central{
    right:40px;
}

.circle-left{
    left:50%;
    margin-left:-8px;
}

.green-circle{
    width: 32px;
    height: 32px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background:rgba(69,191,69,0.8);
}

.red-circle{
    width: 32px;
    height: 32px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background:rgba(248,35,35,0.8);
}



.infobox-wrapper {
    display:none;
}
#infobox {
    background:white;
    color:rgba(136,136,136,1);
    font-size:12px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#infobox-title{
    margin-left:10px;
    width:90px;
    display:inline-block;
    line-height:12px;
}

#infobox-arrow-btn{
    margin-left:15px;
    display:inline-block;
    width:15px;
    height:25px;
    background:url(../images/arrow_right.png) no-repeat;
}

.infobox-lower-arrow{
    background:url(../images/infobox_arrow.png) no-repeat;
    position:absolute;
    width:20px;
    height:12px;
    left: 50%;
    margin-left: -10px;
}




