@charset "utf-8";

.box {
  overflow: hidden;
}
  .box .ui-block-b {
    text-align: right;
  }

.hidden {
  display: none !important;
}

.popup {
  padding: 10px;
}
  .popup [data-role="controlgroup"] {
    text-align: center;
  }

.data:empty + .empty {
  display: block !important;
}

.date {
  color: #AAAAAA;
  font-size: .8em;
}

.forward {
  text-align: center;
}

.me {
  background-color: #dde;
}

.nowrap {
  overflow: visible;
  white-space: normal;
}

#my_loc{
	background:url(../images/myl_disabled.png) no-repeat; 
	right: 5px; 
	top : 5px; 
	position: absolute; 
	width: 64px; 
	height: 64px; 
	background-size: 64px 64px; 
	z-index:9999
}

#my_loc.enabled{
	background:url(../images/myl_normal.png) no-repeat; 
	background-size: 64px 64px; 
}